body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}

.header {
  background: url(/img/headerbg.jpg) no-repeat center / cover;
  height: 100vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header__title {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: 24px;
  font-weight: 500;
}

.header__arrow img {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 30px;
}