body {
  width: 100%;
  background-image: linear-gradient(to top, #595d5f 100%, #4b4f52 100%);
  background-size : cover;
  background-repeat : no-repeat;
  font-family: "Roboto" sans-serif;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 1440px;
  margin: 0 auto;
  padding-top: 30px;
}

.link {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s linear;
}

.link:hover {
  color: #17fc5c;
}
